@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    font-family: "Montserrat", sans-serif;
}

#nprogress .bar {
    background: #4299e1 !important;
}

#nprogress .spinner-icon {
    border-top-color: #4299e1 !important;
    border-left-color: #4299e1 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.modal-container {
    max-height: 550px;
}

.modal-content {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-footer {
    background-color: #fff;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}
